.u-section-1 .u-sheet-1 {
  min-height: 2509px;
}

.u-section-1 .u-text-1 {
  width: 724px;
  font-size: 2.25rem;
  margin: 50px auto 0;
}

.u-section-1 .u-text-2 {
  width: 724px;
  font-size: 2.25rem;
  margin: 0 208px;
}

.u-section-1 .u-list-1 {
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  min-height: 2025px;
  grid-gap: 40px 40px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 0px 2px 8px 7px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 7px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  text-align: center;
  line-height: 3.6;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 0px 2px 8px 7px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 21px 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 7px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  text-align: center;
  line-height: 3.6;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 0px 2px 8px 7px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 21px 30px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 7px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  text-align: center;
  line-height: 3.6;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 0px 2px 8px 7px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  min-height: 211px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 21px 30px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 7px auto 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-18 {
  text-align: center;
  line-height: 3.6;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  box-shadow: 0px 2px 8px 7px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  min-height: 208px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 21px 30px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 7px auto 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-22 {
  text-align: center;
  line-height: 3.6;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-group-6 {
  width: 1066px;
  min-height: 196px;
  height: auto;
  margin: 50px auto;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-23 {
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2265px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 108px;
    margin-right: 108px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1650px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    line-height: 1.6;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-text-10 {
    line-height: 1.6;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-12 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-14 {
    line-height: 1.6;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-16 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-18 {
    line-height: 1.6;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-text-20 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-22 {
    line-height: 1.6;
  }

  .u-section-1 .u-group-6 {
    width: 940px;
    margin-bottom: 35px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2469px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    min-height: 1847px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3583px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3069px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-4 {
    min-height: 208px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-group-6 {
    min-height: 250px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-11 {
    padding: 0 10px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3679px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-group-6 {
    min-height: 269px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-23 {
    font-size: 1.25rem;
  }
}