.u-section-1 .u-sheet-1 {
  min-height: 837px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -57px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 684px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 1158px;
  height: 606px;
  margin: 78px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  font-family: Alatsi;
  width: 341px;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  width: 735px;
  font-style: italic;
  font-weight: normal;
  margin: 17px auto 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 492px;
  }

  .u-section-1 .u-text-1 {
    font-weight: normal;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 377px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 283px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 178px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-bottom: 23px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1387px;
}

.u-section-2 .u-group-1 {
  min-height: 946px;
  height: auto;
  margin-top: -47px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  width: 797px;
  margin: 29px auto -488px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 481px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 63px;
  width: 63px;
  background-image: none;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: 26px auto 0;
  padding: 6px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 24px 20px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 16px;
}

.u-section-2 .u-icon-2 {
  height: 63px;
  width: 63px;
  background-image: none;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: 26px auto 0;
  padding: 6px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 24px 20px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 63px;
  width: 63px;
  background-image: none;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: 26px auto 0;
  padding: 6px;
}

.u-section-2 .u-text-4 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 24px 20px 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 16px;
}

.u-section-2 .u-icon-4 {
  height: 63px;
  width: 63px;
  background-image: none;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: 26px auto 0;
  padding: 6px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 24px 20px 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 63px;
  width: 63px;
  background-image: none;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: 26px auto 0;
  padding: 6px;
}

.u-section-2 .u-text-6 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 24px 20px 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 63px;
  width: 63px;
  background-image: none;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: 26px auto 0;
  padding: 6px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 24px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 10px;
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 450px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 7px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 7px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 7px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 7px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 7px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2046px;
  }

  .u-section-2 .u-list-1 {
    width: 660px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 776px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2341px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-list-1 {
    width: 520px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 732px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3955px;
  }

  .u-section-2 .u-list-1 {
    width: 320px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 3275px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-weight: 600;
  font-size: 3.75rem;
  width: 226px;
  margin: 1px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  min-height: 3038px;
  grid-gap: 27px 27px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: -1px 0px 8px 7px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-1 {
  padding: 0 27px;
}

.u-section-3 .u-image-1 {
  height: 366px;
  margin: 20px 3px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 215px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: -1px 0px 8px 7px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-2 {
  padding: 0 27px;
}

.u-section-3 .u-image-2 {
  height: 366px;
  margin: 20px 3px 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 215px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: -1px 0px 8px 7px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-3 {
  padding: 0 27px;
}

.u-section-3 .u-image-3 {
  height: 366px;
  margin: 20px 3px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 215px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  box-shadow: -1px 0px 8px 7px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-4 {
  padding: 0 27px;
}

.u-section-3 .u-image-4 {
  height: 366px;
  margin: 20px 3px 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 215px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  box-shadow: -1px 0px 8px 7px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-5 {
  padding: 0 27px;
}

.u-section-3 .u-image-5 {
  height: 366px;
  margin: 20px 3px 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 215px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  box-shadow: -1px 0px 8px 7px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-6 {
  padding: 0 27px;
}

.u-section-3 .u-image-6 {
  height: 366px;
  margin: 20px 3px 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 215px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-3 .u-list-item-7 {
  background-image: none;
  box-shadow: -1px 0px 8px 7px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-7 {
  padding: 0 27px;
}

.u-section-3 .u-image-7 {
  height: 366px;
  margin: 20px 3px 0;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 215px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-3 .u-list-item-8 {
  background-image: none;
  box-shadow: -1px 0px 8px 7px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-8 {
  padding: 0 27px;
}

.u-section-3 .u-image-8 {
  height: 366px;
  margin: 20px 3px 0;
}

.u-section-3 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 215px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-3 .u-list-item-9 {
  background-image: none;
  box-shadow: -1px 0px 8px 7px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-9 {
  padding: 0 27px;
}

.u-section-3 .u-image-9 {
  height: 366px;
  margin: 20px 3px 0;
}

.u-section-3 .u-text-18 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 215px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-19 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-9 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-3 .u-list-item-10 {
  background-image: none;
  box-shadow: -1px 0px 8px 7px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-10 {
  padding: 0 27px;
}

.u-section-3 .u-image-10 {
  height: 366px;
  margin: 20px 3px 0;
}

.u-section-3 .u-text-20 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 215px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-21 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-10 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-3 .u-custom-html-1 {
  margin-top: 53px;
  margin-bottom: 20px;
  height: auto;
  min-height: 47px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2709px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 491px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2493px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-4 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-5 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-11 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-6 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-13 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-7 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-15 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-8 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-17 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-9 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-19 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-10 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-21 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 37px;
    margin-bottom: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3085px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
    min-height: 3645px;
  }

  .u-section-3 .u-image-1 {
    height: 343px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-top: 196px;
  }

  .u-section-3 .u-image-2 {
    height: 343px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 343px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 343px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 343px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 343px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    height: 343px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    height: 343px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-9 {
    height: 343px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-10 {
    height: 343px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3842px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 583px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 583px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 583px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 583px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 583px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 583px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-13 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 583px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-15 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    height: 583px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-17 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-9 {
    height: 583px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-19 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-10 {
    height: 583px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-21 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 5265px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 17px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 43px 43px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-5 {
    height: 359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-11 {
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-6 {
    height: 359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-13 {
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-7 {
    height: 359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-15 {
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-8 {
    height: 359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-17 {
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-9 {
    height: 359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-19 {
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-10 {
    height: 359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-21 {
    margin-top: 13px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 659px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-weight: 600;
  width: 459px;
  margin: 7px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 39px auto 0;
  padding: 8px 33px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px auto 0;
  padding: 8px 33px;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px auto 0;
  padding: 8px 33px;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px auto 0;
  padding: 8px 33px;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px auto 0;
  padding: 8px 33px;
}

.u-section-4 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px auto 0;
  padding: 8px 33px;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 47px;
  margin-top: 17px;
  margin-bottom: 18px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 27px;
    padding-bottom: 9px;
    padding-left: 27px;
  }

  .u-section-4 .u-btn-2 {
    font-size: 1.5rem;
    margin-top: 16px;
  }

  .u-section-4 .u-btn-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-btn-4 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    padding-right: 7px;
    padding-left: 6px;
  }

  .u-section-4 .u-btn-5 {
    font-size: 1.5rem;
    margin-left: -4px;
    margin-right: -4px;
    padding: 7px 0 9px;
  }

  .u-section-4 .u-btn-6 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-custom-html-1 {
    margin-bottom: 38px;
  }
}